@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #1e1d2b;
    word-spacing: 3px;
    letter-spacing: 1px;
}


/* container completo----------------------------------------------------------------------------------------- */
.container{
    width: 100vws;
    height: 100hw;
    color: #fff;
    display: grid;
    grid-template-rows: 1/8fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header1 headernav"
    "homeTex homeImg"
    "aboutImg aboutTex"
    "foodMenu foodMenu"
    "service service"
    "quality quality"
    "foot foot";
}

/* header 1 -----------------------------------------------------------------------------------------------*/
.container .header1{
    grid-area: header1;
    height: 50px;
    color: #ff702a;
    font-size: 2em;
    padding-left: 80px;
}



/* header nav ---------------------------------------------------------------------------------------*/
.container .nav{
    grid-area: headernav;
    height: 25px;
    padding: 10px;
}
.container .nav ul{
    display: flex;
    justify-content: space-evenly;
    text-transform: capitalize;
    list-style: none;
}


/* home -----------------------------------------------------------------------------------------------------*/
.container .homeText{
    grid-area: homeTex;
    height: 100vhs;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* text-transform: capitalize; */
    font-size: 2em;
    padding-left: 100px;
}
.container .homeText h2{
    color: #ff702a;
    text-transform: capitalize;
}
.container .homeImg{
    grid-area: homeImg;
    height: 100vhs;
    display: flex;
    justify-content: center;
}
.container .homeImg img{
    height: 800px;
}
.container .homeText b{
    display: flex;
    align-self: flex-start;
}

.container .homeText button{
    height: 30px;
    width: 110px;
    background: #ff702a;
    border: none;
    padding: 5px;
}





/* about ------------------------------------------------------------------------------------------------------*/
.container .aboutImg{
    grid-area: aboutImg;
    height: 100vhs;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .aboutImg img{
    height: 650px;
}
.container .aboutText{
    grid-area: aboutTex;
    height: 100vhs;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 380px;
    padding-left: 49px;
}
.container .aboutText h3{
    color: #ff702a;
}
.container .aboutText b{
    font-size: 2em;
}
.container .aboutText button{
    background: #ff702a;
    height: 25px;
    width: 100px;
    border: none;
}





/* Menu --------------------------------------------------------------------------------------------------------*/
.container .foodMenu{
    grid-area: foodMenu;
    grid-column: 1/3;
}
.container .foodMenu .fila{
    display: grid;
    padding: 50px;
    gap: 20px 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.container .foodMenu .fila img{
    display: flex;
    justify-self: center;
}

.container .foodMenu h3, b{
    display: flex;
    justify-content: center;
}
.container .foodMenu h3{
    color: #ff702a;
}
.container .foodMenu b{
    font-size: 2.5em;
}
.container .foodMenu .fila div b::nth-last-child(){
    color: #ff702a;
}





/* Service -----------------------------------------------------------------------------*/
.container .service{
    grid-area: service;
    grid-column: 1/3;
}
.container .service .fila{
    display: grid;
    padding: 50px;
    gap: 20px 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}





/* quality ---------------------------------------------------------------------------------------------------*/
.container .quality{
    grid-area: quality;
    grid-column: 1/3;
}



/* footer ---------------------------------------------------------------------------------------------------*/
.container .foot{
    grid-area: foot;
    display: flex;
    justify-content: space-evenly;
    text-transform: capitalize;
    grid-column: 1/3;
    grid-template-columns: repeat(4, 1fr);
}

.foot div ul{
    list-style: none;
}



@media (max-width: 400px){
    
    
    
    .container{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "header1"
        "homeTex"
        "homImg";
    }

    
}